.newline-adjuster-preview-container {
    display: flex;
    height: 400px;
}

.newline-adjuster-preview-original,
.newline-adjuster-preview-adjusted {
    flex: 1;
    overflow-y: auto;
    padding: 10px;
    border: 1px solid var(--background-modifier-border);
}

.newline-adjuster-preview-original {
    margin-right: 10px;
}

.newline-adjuster-preview-container pre {
    white-space: pre-wrap;
    word-wrap: break-word;
}